<form novalidate (ngSubmit)="onAdd()" #myForm="ngForm">
    <mat-card class="add-item">
        <mat-card-header>
            <mat-card-title>Add a new Item</mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <input id="description" name="description" required minlength="3" matInput placeholder="Todo Beschreibung" [(ngModel)]="descriptionText"
                #descriptionModel="ngModel">

            <mat-error *ngIf="descriptionModel.invalid && (descriptionModel.dirty || descriptionModel.touched)" class="alert alert-danger">
                <div *ngIf="descriptionModel.errors.required">
                    Description is required.
                </div>
                <div *ngIf="descriptionModel.errors.minlength">
                    Description must be at least 3 characters long.
                </div>
            </mat-error>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="descriptionModel.invalid">Add</button>
    </mat-card>
</form>
