@import '~@angular/material/theming';
@import './_material';

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

h2 {
  font-size: large;
}

md-card.add-item {
  margin-bottom: 25px;

  md-input-container {
    width: 50%;
  }
}

.content {
  margin: 15px;
}

.card-row {
  md-card {
    margin-bottom: 15px;
  }  
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  

  md-card {
    width: 43%;
  }
}

md-card-title {
  font-weight: 500;
  font-size: medium;
}