<div class="flex">
    <md-card>
        <md-card-header>
            <md-card-title>📝 {{'TODO' | translate}}</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-list>
                <todo-item [item]="done" (checked)="onChecked($event, done)" *ngFor="let done of itemsOpen"></todo-item>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-header>
            <md-card-title>✅ {{'DONE' | translate}}</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-list>
                <todo-item [item]="done" (checked)="onChecked($event, done)" *ngFor="let done of itemsDone"></todo-item>
            </md-list>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="reset.emit()">{{'RESET' | translate}}</button>
        </md-card-actions>
    </md-card>
</div>