<div class="content">
    <h1>Todo example</h1>
    <h2>MVC architecture</h2>
    
    <md-card class="add-item">
        <md-card-header>
            <md-card-title>Add a new Item</md-card-title>
        </md-card-header>
        <md-input-container>
            <input mdInput placeholder="Todo Beschreibung" #description>
        </md-input-container>
        <button md-button (click)="onAdd(description.value)">Add</button>
    </md-card>

    <div class="flex">
        <md-card>
            <md-card-header>
                <md-card-title>📝 Todo</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let open of itemsOpen">
                        <div>
                            <md-checkbox [ngModel]="open.checked" (ngModelChange)="onChecked($event, open)">{{open.description}}</md-checkbox>
                            <span class="modified-date"> {{open.lastModified | date}} </span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-header>
                <md-card-title>✅ Done</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let done of itemsDone">
                        <div>
                            <md-checkbox [ngModel]="done.checked" (ngModelChange)="onChecked($event, done)">{{done.description}}</md-checkbox>
                            <span class="modified-date"> {{done.lastModified | date}} </span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)=onReset()>Reset</button>
            </md-card-actions>
        </md-card>
    </div>
</div>